* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.151), hsla(317, 45%, 52%, 0.349)), url(images/background.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.185), hsla(317, 45%, 52%, 0.301)), url(images/background.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    background-color: black;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

nav>a:hover {
    color: rgb(216, 125, 224);
    border-bottom: 4px solid rgb(216, 125, 224);
}

.section_cover-page button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 215px;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 100;
    color: white;
    background-color: var(--header-color);
    cursor: pointer;
    padding-top: 220px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us1 {
    height: auto;
    width: auto;
    max-height: 30%;
    max-width: 30%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
}

.imagen-about-us2 {
    height: auto;
    width: auto;
    max-height: 30%;
    max-width: 30%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
}

.imagen-about-us3 {
    height: auto;
    width: auto;
    max-height: 30%;
    max-width: 30%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 12px 0 rgba(110, 110, 110, 0.411);
}


/*hayao*/

.seccion-hayao {
    background: #fff;
    padding-bottom: 30px;
}

.hayao-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hayao-ind {
    width: 28%;
    text-align: center;
}

.hayao-ind img {
    width: 90%;
}

.hayao-ind p {
    font-weight: 300;
    text-align: justify;
}

.h5 {
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .imagen-about-us1 {
        width: 90%;
    }
    .imagen-about-us2 {
        width: 90%;
    }
    .imagen-about-us3 {
        width: 90%;
    }
    /* hayao */
    .hayao-cont {
        justify-content: center;
        flex-direction: column;
    }
    .hayao-ind {
        width: 100%;
        text-align: center;
    }
    .hayao-ind img {
        width: 27%;
    }
}