* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    cursor: url('/src/images/cursor.cur'), auto;
    
}   

:root {
    --header-color: hsla(245, 37%, 12%, 0.712);
    --body-color: #EEEFE1;
    --green-btn: #15B266;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-color);
}

body::-webkit-scrollbar {
    width: 18px;
    background: #aed3e4;
}

body::-webkit-scrollbar-thumb {
    background: #598ba1d5;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #ab94bd;
}

.titulo {
    color: var(--header-color);
    font-family: 'Castoro', serif;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.titulo .cartoon {
    width: 50px;
    height: 50px;
    background-image: url("./images/animacion-totoro.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* HEADER */

header {
    width: 100%;
    height: 720px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.151), hsla(317, 45%, 52%, 0.349)), url(images/background.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.164), hsla(317, 45%, 52%, 0.301)), url(images/background.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-size: 1.4rem;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    background-color: #010114fd;
    height: 70px;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
    padding-bottom: 20px;
    cursor: url('/src/images/dedo.cur'), auto;
}

nav>a:hover {
    color: rgb(216, 125, 224);
    border-bottom: 4px solid rgb(216, 125, 224);
}

.section_cover-page img {
    margin: 0 auto;
    position: absolute;
    width: 500px;
    height: auto;
    left: 0;
    right: 0;
    top: 20%;
}

.section_cover-page a {
    text-decoration: none;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 60px;
    width: 215px;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    color: white;
    background-color: var(--header-color);
    top: 60%;
    cursor: url('/src/images/dedo.cur'), auto;
}

.section_cover-page a:hover {
    background-color: black;
    transition: all 500ms ease;
}

@media (max-width: 800px) {
    .section_cover-page img {
        width: 420px;
        height: auto;
    }
}

@media (max-width: 550px) {
    .section_cover-page img {
        width: 320px;
        height: auto;
    }
    .section_cover-page a {
        top: 50%;
    }
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*SECCION HAYAO*/

.section_creator {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 120px;
    width: 430px;
    text-align: center;
}

.section_creator-container {
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5;
}

.section_creator-container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.63);
}

.section_creator-container .p_name {
    font-weight: bold;
}

@media (max-width: 480px) {
    .section_creator {
        width: 300px;
    }
}

.section_select-option {
    margin: 0 auto;
}

.section_select-option h2 {
    padding-left: 70px;
    font-size: 3.5rem;
    font-family: Castoro;
    font-weight: bold;
}

.div_select-container {
    margin-left: 270px;
    margin-right: 270px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    justify-content: space-around;
    /* justify-content: center;*/
    margin-bottom: 100px;
    margin-top: 30px;
    
}

.div_select-container select:hover {
    box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.63);
    transition: all 500ms ease;
    
}

select {
    width: 180px;
    max-width: 180px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--green-btn);
    font-size: 1.5rem;
    padding-left: 5px;
    cursor: url('/src/images/dedo.cur'), auto;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}

.div_select-container #search {
    width: 180px;
    max-width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.63);
    font-family: 'Montserrat', sans-serif;
    padding-left: 12px;   
}


.div_select-container #search::placeholder {
    font-size: 1.5rem;
    color: #666666;
    padding-left: 1px;
    font-family: 'Montserrat', sans-serif;
}

.filter {
    display: none;
}

.div_select-container .allMovies {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgba(52, 129, 211, 0.75);
    font-size: 1.5rem;
    padding-left: 5px;
    cursor: url('/src/images/dedo.cur'), auto;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}

.div_select-container .allMovies:hover {
    background-color: rgb(216, 125, 224);
    box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.63);
    transition: all 500ms ease;
}


/*POSTERS EN CARDS*/

.section_movie-info {
    margin: 0 auto;
    margin-bottom: 250px;
}

#root {
    /*centrar todo el contenedor*/
    margin: 0 auto;
    /*alineación horizontal*/
    align-items: center;
    /*centrar dentro del container*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    /*espacio entre cada poster*/
    grid-gap: 20px;
    
}

@media(max-width:890px) {
    #root {
        width: 800px;
    }
}

@media(max-width:790px) {
    #root {
        width: 600px;
    }
}

@media(max-width:690px) {
    #root {
        width: 400px;
    }
}

@media(max-width:460px) {
    #root {
        width: 300px;
    }
}

.div_poster-container span {
    position: absolute;
    background-color: #3481d3;
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
    bottom: 16px;
    left: 10px;
    
}

.div_poster-container i {
    position: absolute;
    background-color: #d675df;
    font-weight: bold;
    font-style: normal;
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
    bottom: 16px;
    right: 10px;
}

.div_poster-container figure {
    position: relative;
    cursor: url('/src/images/dedo.cur'), auto;
    margin: 0;
}

.div_poster-container figure img {
    width: 180px;
    border-radius: 16px;
    transition: all 500ms ease;
}

.div_poster-container figure img:hover {
    box-shadow: 16px 15px 12px -10px rgba(0, 0, 0, 0.616);
}


/*CONTENEDOR DE INFORMACION*/

.div_info-container {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 8px;
    background: rgba(0, 0, 14, 0.86);
    border-radius: 16px;
   
      /*Para que aparezca sobre todos los posters*/
    z-index: 1;
   
}

@media(max-width:1022px) {
    .div_info-container {
        width: 260px;
    }
}

@media(max-width:905px) {
    .div_info-container {
        width: 230px;
    }
}

.movie-info {
    font-size: 12px;
    color: white;
    border-radius: 30px;
    /*transform:scale(1);*/
   
}

.movie-info h2 {
    margin: 0px;
    font-size: 16px;
}

.movie-info #cross {
    width: 15px;
    height: 15px;
    cursor: url('/src/images/dedo.cur'), auto;
}

.movie-info .movie-cross {
    display: flex;
}

.movie-info .movie-cross h2 {
    width: 250px;
    margin-right: 30px;
}

.movie-info .score-year {
    display: flex;
    margin: 0px;
    align-items: center;
    height: 18px;
}

.movie-info .score-year p {
    margin-right: 50px;
}

.movie-info span .score {
    color: #D87DE0;
}

.movie-info .description {
    margin-top: 5px;
    margin-bottom: 8px;
    line-height: 15px;
}

.movie-info .director {
    margin-top: 3px;
    margin-bottom: 8px;
}

.movie-info .producer {
    margin-top: 2px;
    margin-bottom: 8px;
}

.movie-info .moreinfo {
    margin-right: 3px;
    color: #D87DE0;
    cursor: url('/src/images/dedo.cur'), auto;
}

.movie-info .moreinfo:hover {
    font-weight: bold;
}


/*SECCIÓN FOOTER*/

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #010114fd;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img {
    height: 130px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 2rem 0;
    
}

.socials li {
    margin: 0 15px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2.5rem;
    transition: color .3s ease;
    cursor: url('/src/images/dedo.cur'), auto;

}

.socials a:hover i {
    color: rgb(192, 55, 197);
}

.footer-bottom {
    background: rgb(42, 39, 65);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}


/*SECCION PEOPLE*/

.section-people,
.section-location,
.section-vehicles {
    margin: 0 auto;
    margin-bottom: 45px;
}

#people,
#location,
#vehicles {
    /*centrar todo el contenedor*/
    margin: 0 auto;
    /*alineación horizontal*/
    align-items: center;
    /*centrar dentro del container*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    /*espacio entre cada personaje*/
    grid-gap: 20px;
}

@media(max-width:990px) {
    #people,
    #location,
    #vehicles {
        width: 900px;
    }
}

@media(max-width:890px) {
    #people,
    #location,
    #vehicles {
        width: 700px;
    }
}

@media(max-width:790px) {
    #people,
    #location,
    #vehicles {
        width: 500px;
    }
}

@media(max-width:560px) {
    #people,
    #location,
    #vehicles {
        width: 400px;
    }
}

@media(max-width:470px) {
    #people,
    #location,
    #vehicles {
        width: 300px;
    }
}

.section-people h2,
.section-location h2,
.section-vehicles h2 {
    padding-left: 70px;
    font-size: 3.5rem;
    font-family: Castoro;
    font-weight: bold;
}
.section-people .number-of-people-container {
    background-color: white;
    padding-top: 10px;
    border-radius: 15px;
    width: 150px;
    margin-left: 20px;
    text-align: center;
}

.number-of-people-container p {
    text-align: center;
    font-size: 1.1rem;
    color: rgba(24, 24, 24, 0.781);
}

.number-of-people-container .number-people {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(192, 55, 197, 0.781);
}
.btn-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;

}

.btn-section .all-movies-btn {
    margin-left: 30px;
    font-size: 1.5rem;
    cursor: url('/src/images/dedo.cur'), auto;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--green-btn);
    height: 50px;
    width: 150px
    
}

.btn-section .all-movies-btn:hover {
    background-color: rgb(192, 55, 197);
    transition: all 500ms ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.63);
    
}

.div_people-container {
    position: relative;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    width: 320px;
    height: 200px;
    display: flex;
    padding-right: 13px;
    box-shadow: 16px 15px 12px -10px rgba(0, 0, 0, 0.164);
}

.div_people-container figure {
    display: contents;
}

.div_people-container .people .name,
.div_vehicle-container  .vehicle .name {
    font-size: 1.4rem;
    position: absolute;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 4px;
    background: rgba(52, 129, 211, 0.75);
    font-weight: bold;
    border-radius: 16px;
    z-index: 1;
    color: white;
    bottom: 10px;
    left: 30px;
}

.div_people-container figure i {
    width: 150px;
    height: 200px;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0px;
    border-radius: 10px 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-info {
    align-items: center;
    margin-top: 15px;
    padding-right: 2px;
}

.div_people-container .container-info p,
.div_vehicle-container .container-info p {
    font-size: 1.4rem;
    padding-left: 15px;
    margin-bottom: 8px;
}
.div_vehicle-container {
    position: relative;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    width: 480px;
    height: 260px;
    display: flex;
    padding-right: 13px;
    box-shadow: 16px 15px 12px -10px rgba(0, 0, 0, 0.164);
}

.div_vehicle-container  figure {
    display: contents;
}

.div_vehicle-container figure i {
    width: 220px;
    height: 260px;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0px;
    border-radius: 10px 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div_vehicle-container .container-info {
    align-items: center;
    margin-top: 15px;
    padding-right: 2px;
    width: 380px;
}

@media(max-width: 540px) {
    .div_vehicle-container {
        height: 400px;
        width: 340px;
    }
    .div_vehicle-container figure i {
        height: 400px;
    }
}

